---
layout: homepage.liquid
pageTitle: Welcome to my blog
---
{% for post in collections.blog reversed %}
    <h2><a href="{{ post.url }}">{{ post.data.blogTitle }}</a></h2>
    <em>{{ post.date | date: "%d-%m-%Y" }}</em>
{% endfor %}