<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Welcome to my Blog</title>
    </head>
    <body>
        <h1>{{ pageTitle }}</h1>

        {{ content }}
    </body>
</html>