<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Nunito:ital,wght@0,400;0,600;0,800;1,600;1,800&display=swap" rel="stylesheet">
    <!-- {{ 'main.scss.css' | asset_url | stylesheet_tag }} -->
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            font-size: 1.2rem;
        }
        * { 
            box-sizing: border-box;
        }
        body {
            background-color: antiquewhite;
            font-family: 'Nunito', sans-serif;
            color: #333;
        }
        h1 {
            font-family: 'Architects Daughter', cursive;
        }
        .blog-post {
            width: 50%;
            margin: auto;

        }
        .blog-title {
            color: #333;
        }
        .blog-content {
            margin: 2em 0;
        }
        .blog-image {
            max-width: 100%;
            width: 100%;
            border-radius: 6px;
            box-shadow: 0 0 6px #888;
        }
    </style>
        <title>{{ blogTitle }}</title>
    </head>
    <body>
        <article class="blog-post">
            <h1 class="blog-title">{{ blogTitle }}</h1>
            <h4>{{ blogSubtitle }}</h4>
            <img class="blog-image" src="{{ blogImage }}">
            
            <div class="blog-content">
                {{ content }}
            </div>
        </article>
    </body>
</html>